.textWrapper {
  background-color: #efe6dd;
  border-radius: 5px;
  margin-top: -2rem;
  margin: 1rem;
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
}

.copyBtn {
  align-items: center;
  background-color: #ff435fed;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  transition: all 0.25s;
}
.copyBtn:hover {
  background-color: #f96279ed;
}
.copyText {
  background-color: #f96279ed;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
